/*
* Ease HTML
* 
* Built on modified Skelton grid
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
* 
* Grid 1200px
* Nicolas Poliquin
* http://polikin.ca
* 20/11/2012
*/

//Sass Imports
@import "compass/css3";

//Sass variables
$accent : #FF4D4D;
$fa : "IcoMoon";
$lite : 300;
$reg : 500;
$semi : 600;
$bold : 700;

/* Table of Contents
==================================================
    #Reset & Basics
    #Typography
    #Header
    #Flexslider
    #Services
    #Toggle/Tabs
    #Team
    #Blog
    #Portfolio
    #Buttons
    #Footer
    #Forms/Fields
    #Fonts
    #Misc.
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}
body {
  font-family: Open Sans, Arial, sans-serif;
  color: #bbb;
  background: #161616;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
}
ol, ul {
  list-style: none; 
}
blockquote, q {
  quotes: none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
}
table {
  border-collapse: collapse;
  border-spacing: 0; 
}
iframe {
  border: 0 !important;
}
img {
  height: auto;
  display: block;
  max-width: 100%;
}
.wrap {
  padding-bottom: 50px;
}
.right {
  float: right !important;
}
.left {
  float: left !important;
}
.align-right {
  text-align: center;
}
.align-left {
  text-align: left;
}
.center {
  text-align: center;
}
.accent {
  color: $accent;
}
.bottom {
  margin-bottom: 30px;
}
.hidden {
  display: none;
}

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  font-size: 22px;
  font-weight: $lite;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

a {
  text-decoration: none;
  color: #aaa;
  @include transition(all ease .5s);
  &:hover {
    color: $accent;
  }
}

p {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}

.sub-header {
  text-align: center;
  font-size: 17px;
  font-style: italic;
  display: block;
}

.title {
  text-align: center;
  &:first-letter {
    border-bottom: 2px solid $accent;
  }
  margin-bottom: 50px;
}

.dropcap1 {
  padding: 5px;
  margin-right: 10px;
  margin-top: 6px;
  background: $accent;
  color: #111;
  font-size: 28px;
  font-weight: $reg;
  float: left;
}

.dropcap2 {
  margin-right: 8px;
  margin-top: 10px;
  color: $accent;
  font-size: 36px;
  font-weight: $reg;
  float: left;
}

.pull-quote:before {
  font-family: $fa;
  font-size: 14px;
  content: "\e076";
  color: $accent;
  padding-right: 10px;
}

.pull-quote {
  float: left;
  font-size: 16px;
  font-style: italic;
  color: #666;
  width: 40%;
  padding: 8px 5px;
  margin: 5px 17px 2px 0;
  border-right: 2px solid $accent;
}

.pull-quote.right {
  margin-left: 10px;
  float: right;
}

.divider {
  height: 0;
  border-top: 1px solid #222;
  border-bottom: 1px solid #000;
  width: 50%;
  margin: 30px auto;
  background: #222;
}

/* #Header
================================================== */
header {
  .container {
    width: 1170px;
  }
  .logo {
    float: left;
    margin: 26px 0;
    margin-bottom: 10px;
  } 
  .social-top {
    float: right;
    ul {
      li {
        float: left;
        a {
          padding: 15px;
          color: $accent;
          margin-left: 1px;
          display: block;
          font-size: 16px;
          background: #111;
          &:hover {
            background: $accent;
            color: #111;
          }
        }
      }
    }
  }
  .divider {
    height: 0;
    border-top: 1px solid #222;
    border-bottom: 1px solid #000;
    width: 50%;
    margin: 24px auto;
    background: #222;
  }
  .slogan {
    text-align: center;
    font-size: 17px;
    font-style: italic;
    padding: 15px 0;
   // background: #111;
   // border: 1px solid #333;
   // @include border-radius(5px);
  }
  .main-nav ul {
    text-align: center;
    margin-top: 78px;
    li {
      display: inline;
      a {
        font-size: 11px;
        padding: 40px 30px;
        font-weight: $semi;
        display: inline-block;
        text-transform: uppercase;
      }
      &.active a {
        color: $accent;
        background: #111;
      }
    }
  }
  .nav-bar > li ul { margin-bottom: 0; }
  .nav-bar > li .flyout { display: none; }
  li.has-flyout { position: relative; }
  .nav-bar > li.has-flyout > ul.flyout > li.has-flyout > ul.flyout { left: 220px; top: 0; }
  ul.edge { left: -100% !important; };

  .flyout { padding-top: 30px !important; background: url(../img/triangle.png) no-repeat center 8px; margin: 30px 0 !important; text-align: left !important; position: absolute; top: 0px; left: 0; width: 150px; z-index: 10000; }
  .flyout p { line-height: 1.2; font-size: 11px; }
  .flyout *:first-child { margin-top: 0; }
  .flyout *:last-child { margin-bottom: 0; }
  .flyout li:first-child { border-top: none; }

  ul.flyout li { line-height: 0; display: block; }
  ul.flyout li a, .nav-bar li ul li a { text-transform: none; background: $accent !important; color: #111 !important; display: block; font-size: 10px; height: auto; line-height: 1; padding: 15px 20px; }
  ul.flyout li:last-child a { border-bottom: none; }
  ul.flyout li a:hover, ul.flyout li a:focus, .nav-bar li ul li a:hover, .nav-bar li ul li a:focus, { background: darken($accent, 5%) !important; }
  ul.flyout li.active, .nav-bar li ul li.active { margin-top: 0; border-top: 1px solid #4d4d4d; border-left: 4px solid #1a1a1a; }
  ul.flyout li.active a, .nav-bar li ul li.active a { background: #4d4d4d; border: none; color: #eee; height: auto; margin: 0; position: static; top: 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; box-shadow: 0 0 0; }
  ul.flyout li:before { content: none; }
  .selectnav { display: none; width: 182px; }
}

.page-header {
  .container {
    width: 1170px;
  }
  height: 110px;
  width: 100%;
  background: #111;
  margin-bottom: 60px;
  text-align: left;
  h2 {
    padding-top: 15px;
    font-size: 44px;
    font-weight: $lite;
    font-family: LeagueGothicRegular;
    margin-bottom: 0px;
    text-transform: none;
  }
  span {
    padding: 5px 0;
    color: $accent;
    font-size: 14px;
    font-style: italic;
  }
}

.contact .page-header {
  margin-bottom: 0;
}

/* #Flexslider
================================================== */
.flex-direction-nav {position: absolute; width: 100%; top: 41%; z-index: 12; @include transition(0.5s all ease);}
.flex-direction-nav a {padding: 20px; position: absolute; top: 45%; background: rgba(0,0,0,.75); }
.flex-direction-nav .flex-next {
  right: 0;
  opacity: 0;
  &:before {
    font-family: $fa;
    content: "\e067";
  }
}
.flex-direction-nav .flex-prev {
  left: 0;
  opacity: 0;
  &:before {
    font-family: $fa;
    content: "\e066";
  }
}

.flexslider:hover .flex-direction-nav .flex-next {opacity: 1;}
.flexslider:hover .flex-direction-nav .flex-prev {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .4 !important; filter:alpha(opacity=30); cursor: default;}

.flex-caption {
  position: absolute;
  bottom: 160px;
  //left: 200px;
  left: -500px;
  text-align: left;
  padding: 10px;
  font-size: 18px;
  font-weight: $semi;
  background: $accent;
  color: #111 !important;
  @include transition(all .5s ease);
}

.flex-caption-second {
  position: absolute;
  bottom: 60px;
  //left: 200px;
  left: 1600px;
  text-align: left;
  padding: 15px;
  font-size: 12px;
  background: rgba(0,0,0,.7);
  width: 500px;
  line-height: 20px;
  color: #eee !important;
  @include transition(all .5s ease);
}

/* #Services
================================================== */
.services {
  text-align: center;
  margin-bottom: 70px;
  i {
    display: block;
    font-size: 90px;
    padding: 20px 0;
    margin-bottom: 10px;
    color: $accent;
    @include transition(0.5s all ease);
  }
  h5 {
    margin-bottom: 12px;
    @include transition(0.5s all ease);
  }
  p {
    padding: 0 15px;
    margin-bottom: 0;
    @include transition(0.5s all ease);
  }
  .column, .columns {
    padding: 20px 0;
    background: #111;
    @include transition(0.5s all ease);
    &:hover {
      background: $accent;
      i, h5, p {
        color: #000;
      }
      i {
        @include transform(rotate(360deg));
      }
    }
  }
}

/* #UI
================================================== */
/* Toggle */
.toggle {
  h5 {
    cursor: pointer;
    background: #111;
    padding: 10px;
    margin-bottom: 5px;
    text-transform: none;
    @include transition(0.5s all ease);
    &:hover {
      color: $accent;
    }
    &.active {
      background: $accent;
      color: #111;
    }
  }
  p {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .content {
    display: none;
    padding: 0 10px;
    padding-top: 10px;
  }
}

/* Tabs */
.ui-tabs ul {
  margin-bottom: 0;
}

.ui-tabs li {
  float: left;
  margin-right: 1px;
  background: $accent;
  margin-bottom: 0;
  font-size: 14px;
  @include transition(0.5s all ease);
  &:hover {
    background: darken($accent, 3%);
  }
}

.ui-tabs li a {
  padding: 10px 25px;
  float: left;
  color: #111;
  outline: none;
}

.ui-tabs li.ui-state-active {
  background: #111;
  a {
    color: $accent;
  }
}

.ui-tabs li.ui-state-active:hover {
  background: #111;
}

.ui-tabs-panel {
  background: #111;
  padding: 25px;
  font-size: 12px;
  color: #ccc;
}

/* #Team
================================================== */
.member {
  img {
    margin: auto;
    margin-bottom: 15px;
  }
  text-align: center;
  padding: 18px;
  background: #111;
  h5 {
    margin-bottom: 3px;
    color: $accent;
    letter-spacing: 3px;
  }
  span {
    font-size: 12px;
    font-weight: $semi;
    margin-bottom: 10px;
    display: block;
  }
  p {
    font-size: 10px;
    line-height: 19px;
  }
  .social {
    margin-top: 20px;
    ul {
      text-align: center;
      li {
        display: inline;
        a {
          color: #111;
          background: $accent;
          padding: 5px;
          font-size: 12px;
          &:hover {
            color: #bbb;
          }
        }
      }
    }
  }
}

/* #Blog
================================================== */
.post {
  border-bottom: 1px solid #1e1e1e;
  padding-bottom: 50px;
  margin-bottom: 50px;
  h3 {
    margin-bottom: 4px;
  }
  .blog-image-cont {
    margin-bottom: 20px;
    background: #000;
  }
  .video, .audio {
    margin-bottom: 20px;
  }
  .meta {
    margin-bottom: 20px;
    i {
      margin-right: 8px;
    }
    .date, .author, .categories {
      margin-right: 20px;
      float: left;
      span {
        font-size: 11px;
        color: #999;
      }
    }
  }
  &.single {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.widget {
  margin-bottom: 40px;
  ul {
    i {
      margin-right: 10px;
    }
    li {
      font-size: 11px;
      padding-bottom: 10px;
    }
  }
  &.search {
    input {
      width: 100%;
      padding: 15px;
      background: #333;
      border: none;
      outline: none;
      color: #ccc;
      border: 2px solid #333;
      @include transition(.5s ease all);
      &:focus {
        border: 2px solid $accent;
      }
    }
  }
}

.blog-nav {
  a {
    font-size: 11px;
    background: #333;
    padding: 15px;
    border: 2px solid #323232;
    float: left;
    &:hover {
      color: $accent;
    }
  }
}

.about-author {
  padding: 20px;
  background: #111;
  .social {
    li {
      display: inline;
      margin-right: 10px;
      a {
        font-size: 14px;
      }
    }
  }
  h5 {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 5px;
  }
  img {
    max-width: 150px;
    float: left;
    margin-right: 20px;
  }
}

/* Comments */
.comments {
  .comment-cont {
    .comment {
      background: #111;
      padding: 20px;
      margin-bottom: 10px;
      position: relative;
      img {
        float: left;
      }
      .content {
        float: right;
        width: 92%;
        h6 {
          margin-bottom: 5px;
          color: $accent;
        }
        .date {
          color: #999;
          font-size: 10px;
          margin-bottom: 10px;
        }
        p {
          margin-bottom: 0;
        }
        .reply {
          position: absolute;
          top: 25px;
          right: 20px;
        }
      }
    }
    .children {
      margin-left: 85px;
    }
  }
}

/* #Portfolio
================================================== */
.portfolio {
  .column, .columns {
    margin-bottom: 30px !important;
  }
}
.portfolio .item {
  position: relative;
  overflow: hidden;
  text-align: center;
  background: #111;
  padding-bottom: 15px;
  .image-container {
    position: relative;
    margin-bottom: 12px;
    img {
      margin: auto;
    }
  }
  .item-title {
    font-weight: $lite;
    text-transform: uppercase;
    a {
      color: $accent;
    }
  }
  .cats {
    font-size: 12px;
  }
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $accent;
    opacity: .4;
    display: none;
  }
  .name {
    background: #111;
    font-size: 14px;
    text-align: center;
    padding: 7px;
    color: $accent;
    font-weight: $lite;
    position: absolute;
    top: 0;
    left: 0;
  }
  a.zoom {
    padding: 4px 10px;
    color: #111;
    font-size: 26px;
    position: absolute;
    top: -40px;
    left: 0;
  }
  a.link {
    padding: 4px 10px;
    padding-top: 10px;
    color: #111;
    font-size: 20px;
    position: absolute;
    top: -40px;
    left: 42px;
  }
}

ul.port-single {
  margin-bottom: 40px;
  i {
    margin-right: 10px;
  }
  li {
    font-size: 13px;
    padding-bottom: 4px;
  }
}

.port-single-nav {
  a {
    font-size: 11px;
    background: #333;
    padding: 15px;
    border: 2px solid #323232;
    &:hover {
      color: $accent;
    }
  }
}

/* #Buttons
================================================== */
a.button {
  background: $accent;
  color: #222;
  font-weight: $bold;
  font-size: 11px;
  padding: 6px 10px;
  border-bottom: 5px solid darken($accent, 5%);
  display: inline-block;
  position: relative;
  top: -6px;
  &:hover {
    background: darken($accent, 5%);
  }
  &.medium {
    padding: 10px 26px;
  }
  &.large {
    padding: 13px 38px;
  }
  &.alt {
    background: none;
    border: 4px solid $accent;
    color: #ccc;
    &:hover {
      background: darken($accent, 5%);
    }
  }
}

/* #Footer
================================================== */
footer {
  background: #111;
  height: 194px;
  .cta {
    background: #131313;
    padding: 47px;
    padding-bottom: 17px;
    text-align: center;
    span {
      font-size: 24px;
      color: #999;
      font-weight: $lite;
      margin-right: 30px;
      margin-bottom: 20px;
      display: inline-block;
    }
  }
  color: $accent;
  font-size: 12px;
  .divider {
    height: 1px;
    width: 58%;
    margin: 24px auto;
    background: #222;
  }
  .social {
    cursor: default;
    padding: 5px;
    padding-top: 15px;
    ul {
      text-align: center;
      li {
        display: inline;
        a {
          color: $accent;
          margin: 0 3px;
          padding: 4px;
          &:hover {
            background: $accent;
            color: #000;
          }
        }
      }
    }
  }
  .copy {
    padding: 10px;
    padding-top: 0;
    text-align: center;
    font-size: 10px;
  }
}

/* #Forms and fields
================================================== */
input, textarea {
  display: block;
  padding: 10px;
  background: #333;
  border: 2px solid #333;
  outline: none;
  color: #ccc;
  margin-bottom: 10px;
  @include transition(all .5s ease);
  &:focus {
    border: 2px solid $accent;
  }
}

input {
  width: 70%;
  min-width: 200px;
}

textarea {
  width: 80%;
  min-width: 200px;
  font-family: Helvetica, Arial;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

/* #Fonts
================================================== */
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* #Misc.
================================================== */
.nicescroll-rails {
  cursor: pointer !important;
}

/* Scroll to top */
#back-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 50px;
  background: #0b0b0b;
  cursor: pointer;
  i {
    font-size: 20px;
    padding: 20px;
    display: block;
  }
}

/* Flickr */
.flickr li {
  width: 21.7%;
  margin: 0 3.3% 3.3% 0;
  display: inline-block;
  background: $accent;
}

.flickr li img {
  width: 100%;
}

.flickr li img:hover {
  opacity: .7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

/* Twitter */
.twitter-container {
  overflow: hidden;
  i {
    color: $accent;
    float: left;
  }
}

.tweet {
  position: relative;
  img {
    width: auto;
    display: inline-block;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

ul.tweet_list {
  li {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

span.tweet_text {
  color: #777;
  font-size: 12px;
  display: block;
  &:before {
    font-family: $fa;
    color: $accent;
    content: "\e16d";
    margin-right: 5px;
  }
}

/* Gmap */
#gmap {
  height: 300px;
  margin-bottom: 60px;
}

/* Contact */
.contact-info {
  font-size: 12px;
  margin-bottom: 20px;
  h6 {
    margin-bottom: 10px;
  }
}

.alert {
  display: none;
  padding: 4px;
  font-size: 11px;
  margin-bottom: 10px;
  &.error:before, &.success:before {
    font-family: $fa;
    content: "\e0fd";
    color: $accent;
    margin-right: 10px;
  }
  &.success:before {
    content: "\e0fe";
    color: #31e267;
  }
}

/* Filter */
a.toggle {
  text-transform: uppercase;
  font-weight: $lite;
  width: 200px;
  display: block;
  margin: auto;
  padding: 10px 0;
  background: #0b0b0b;
  text-align: center;
  &:before {
    font-family: $fa;
    content: "\e0b8";
    margin-right: 5px;
    color: $accent;
  }
}
.filter {
  position: relative;
  width: 200px;
  float: left;
  margin-bottom: 30px;
  z-index: 1100;
}
ul.sort {
  text-align: center;
  width: 200px;
  margin: auto;
  position: absolute;
  top: 44px;
  display: none;
  li {
    a {
      padding: 10px 0;
      font-size: 10px;
      text-transform: uppercase;
      display: block;
      width: 200px;
      background: #0b0b0b;
      border-bottom: 1px dotted #1a1a1a;
    }
  }
}

/* Soundcloud */
.soundcloud {
  width: 100%;
  height: 166px;
}

/* Isotope transitions */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* IE 8 Styles */
.flex-direction-nav a, .flex-caption-second {
  background: url(../img/ie-trans-bg.png);
}

/* #Base 1200 Grid
================================================== */
.columns, .column {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.cc .columns {
  clear: left;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  .column, .columns {
    float: left;
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.row {
  margin-bottom: 20px;
}

/* Nested Column Classes */

.column.alpha, .columns.alpha {
  margin-left: 0;
}

.column.omega, .columns.omega {
  margin-right: 0;
}

/* Base Grid */

.container {
  .one {
    &.column, &.columns {
      width: 45px;
    }
  }
  .two.columns {
    width: 110px;
  }
  .three.columns {
    width: 195px;
  }
  .four.columns {
    width: 270px;
  }
  .five.columns {
    width: 345px;
  }
  .six.columns {
    width: 420px;
  }
  .seven.columns {
    width: 495px;
  }
  .eight.columns {
    width: 570px;
  }
  .nine.columns {
    width: 645px;
  }
  .ten.columns {
    width: 720px;
  }
  .eleven.columns {
    width: 795px;
  }
  .twelve.columns {
    width: 870px;
  }
  .thirteen.columns {
    width: 945px;
  }
  .fourteen.columns {
    width: 1020px;
  }
  .fifteen.columns {
    width: 1095px;
  }
  .sixteen.columns {
    width: 1170px;
  }
  .one-third.column {
    width: 370px;
  }
  .two-thirds.column {
    width: 770px;
  }
  .offset-by-one {
    padding-left: 40px;
  }
  .offset-by-two {
    padding-left: 90px;
  }
  .offset-by-three {
    padding-left: 140px;
  }
  .offset-by-four {
    padding-left: 190px;
  }
  .offset-by-five {
    padding-left: 240px;
  }
  .offset-by-six {
    padding-left: 290px;
  }
  .offset-by-seven {
    padding-left: 340px;
  }
  .offset-by-eight {
    padding-left: 390px;
  }
  .offset-by-nine {
    padding-left: 440px;
  }
  .offset-by-ten {
    padding-left: 490px;
  }
  .offset-by-eleven {
    padding-left: 540px;
  }
  .offset-by-twelve {
    padding-left: 590px;
  }
  .offset-by-thirteen {
    padding-left: 640px;
  }
  .offset-by-fourteen {
    padding-left: 690px;
  }
  .offset-by-fifteen {
    padding-left: 740px;
  }
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

/* Offsets */

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .page-header .container {
    width: 768px;
  }
  header .container {
    width: 768px;
    .logo {
      float: none;
      img {
        margin: auto;
      }
    }
    .selectnav {
      display: block;
      padding: 12px;
      margin: 20px auto;
      background: #111;
      color: #aaa;
      border: 1px solid #000;
      outline: none;
    }
    #nav-bar {
      display: none;
    }
    .right {
      float: none !important;
    }
    .social-top {
      text-align: center;
      float: none;
      margin: 20px 0;
      margin-bottom: 30px;
      ul {
        li {
          float: none;
          display: inline;
          a {
            display: inline;
            font-size: 10px;
          }
        }
      }
    }
  }
  .container {
    width: 768px;
    .one {
      &.column, &.columns {
        width: 18px;
      }
    }
    .two.columns {
      width: 66px;
    }
    .three.columns {
      width: 114px;
    }
    .four.columns {
      width: 162px;
    }
    .five.columns {
      width: 210px;
    }
    .six.columns {
      width: 258px;
    }
    .seven.columns {
      width: 306px;
    }
    .eight.columns {
      width: 354px;
    }
    .nine.columns {
      width: 402px;
    }
    .ten.columns {
      width: 450px;
    }
    .eleven.columns {
      width: 498px;
    }
    .twelve.columns {
      width: 546px;
    }
    .thirteen.columns {
      width: 594px;
    }
    .fourteen.columns {
      width: 642px;
    }
    .fifteen.columns {
      width: 690px;
    }
    .sixteen.columns {
      width: 738px;
    }
    .one-third.column {
      width: 226px;
    }
    .two-thirds.column {
      width: 482px;
    }
    .offset-by-one {
      padding-left: 38px;
    }
    .offset-by-two {
      padding-left: 86px;
    }
    .offset-by-three {
      padding-left: 134px;
    }
    .offset-by-four {
      padding-left: 182px;
    }
    .offset-by-five {
      padding-left: 230px;
    }
    .offset-by-six {
      padding-left: 278px;
    }
    .offset-by-seven {
      padding-left: 326px;
    }
    .offset-by-eight {
      padding-left: 374px;
    }
    .offset-by-nine {
      padding-left: 422px;
    }
    .offset-by-ten {
      padding-left: 470px;
    }
    .offset-by-eleven {
      padding-left: 518px;
    }
    .offset-by-twelve {
      padding-left: 566px;
    }
    .offset-by-thirteen {
      padding-left: 614px;
    }
    .offset-by-fourteen {
      padding-left: 662px;
    }
    .offset-by-fifteen {
      padding-left: 710px;
    }
  }
  /* Offsets */
}

/* Note: Design for a width 1024 Desktop
================================================== */

@media only screen and (min-width: 960px) and (max-width: 1199px) {
  /* Base Grid */
  header .container, .page-header .container {
    width: 960px;
  }
  .container {
    width: 960px;
    .one {
      &.column, &.columns {
        width: 30px;
      }
    }
    .two.columns {
      width: 90px;
    }
    .three.columns {
      width: 150px;
    }
    .four.columns {
      width: 210px;
    }
    .five.columns {
      width: 270px;
    }
    .six.columns {
      width: 330px;
    }
    .seven.columns {
      width: 390px;
    }
    .eight.columns {
      width: 450px;
    }
    .nine.columns {
      width: 510px;
    }
    .ten.columns {
      width: 570px;
    }
    .eleven.columns {
      width: 630px;
    }
    .twelve.columns {
      width: 690px;
    }
    .thirteen.columns {
      width: 750px;
    }
    .fourteen.columns {
      width: 810px;
    }
    .fifteen.columns {
      width: 870px;
    }
    .sixteen.columns {
      width: 930px;
    }
    .one-third.column {
      width: 290px;
    }
    .two-thirds.column {
      width: 610px;
    }
    .offset-by-one {
      padding-left: 50px;
    }
    .offset-by-two {
      padding-left: 110px;
    }
    .offset-by-three {
      padding-left: 170px;
    }
    .offset-by-four {
      padding-left: 230px;
    }
    .offset-by-five {
      padding-left: 290px;
    }
    .offset-by-six {
      padding-left: 350px;
    }
    .offset-by-seven {
      padding-left: 410px;
    }
    .offset-by-eight {
      padding-left: 470px;
    }
    .offset-by-nine {
      padding-left: 530px;
    }
    .offset-by-ten {
      padding-left: 590px;
    }
    .offset-by-eleven {
      padding-left: 650px;
    }
    .offset-by-twelve {
      padding-left: 710px;
    }
    .offset-by-thirteen {
      padding-left: 770px;
    }
    .offset-by-fourteen {
      padding-left: 830px;
    }
    .offset-by-fifteen {
      padding-left: 890px;
    }
  }
  /* Offsets */
}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
  .page-header .container {
    width: 300px;
  }
  header .container {
    width: 300px;
    .logo {
      float: none;
      img {
        margin: auto;
      }
    }
    .selectnav {
      display: block;
      padding: 12px;
      margin: 20px auto;
      background: #111;
      color: #aaa;
      border: 1px solid #000;
      outline: none;
    }
    #nav-bar {
      display: none;
    }
    .right {
      float: none !important;
    }
    .social-top {
      text-align: center;
      float: none;
      margin: 20px 0;
      margin-bottom: 30px;
      ul {
        li {
          float: none;
          display: inline;
          a {
            display: inline;
            font-size: 10px;
          }
        }
      }
    }
  }
  .flex-caption {
    bottom: 113px;
  }
  .flex-caption-second {
    bottom: 10px;
  }
  .flex-direction-nav a {
    padding: 10px;
  }
  .container {
    width: 300px;
    .columns, .column {
      margin: 0;
      margin-bottom: 20px !important;
    }
    .one {
      &.column, &.columns {
        width: 300px;
      }
    }
    .two.columns, .three.columns, .four.columns, .five.columns, .six.columns, .seven.columns, .eight.columns, .nine.columns, .ten.columns, .eleven.columns, .twelve.columns, .thirteen.columns, .fourteen.columns, .fifteen.columns, .sixteen.columns, .one-third.column, .two-thirds.column {
      width: 300px;
    }
    .offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten, .offset-by-eleven, .offset-by-twelve, .offset-by-thirteen, .offset-by-fourteen, .offset-by-fifteen {
      padding-left: 0;
    }
  }
  /* Offsets */
}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  header .container, .page-header .container {
    width: 420px;
  }
  .container {
    width: 420px;
    .columns, .column {
      margin: 0;
    }
    .one {
      &.column, &.columns {
        width: 420px;
      }
    }
    .two.columns, .three.columns, .four.columns, .five.columns, .six.columns, .seven.columns, .eight.columns, .nine.columns, .ten.columns, .eleven.columns, .twelve.columns, .thirteen.columns, .fourteen.columns, .fifteen.columns, .sixteen.columns, .one-third.column, .two-thirds.column {
      width: 420px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .flex-caption {
    display: none;
  }
  .flex-caption-second {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    img {
      max-width: 86%;
    }
  }
  .social-top {
    ul {
      li {
        a {
          padding: 5px !important;
        }
      }
    }
  }
  .widget.search input {
    padding: 15px 0;
  }
}

/* #Clearing
================================================== */

/* Self Clearing Goodness */

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */

.clearfix {
  &:before, &:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.row {
  &:before {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  &:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
  }
}

.clearfix:after {
  clear: both;
}

.row, .clearfix {
  zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}