{% load staticfiles %}
<html>
    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>One Rep Max Calculator | Calculate an exact 1RM using computer vision</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="fragment" content="!">
    <meta name="description" content="Your one rep max can accurately be computed with just a video using computer vision.  Upload a video to get started.">

    <meta property="og:title" content="One Rep Max Calculator">
    <meta property="og:image" content="{% static 'img/summary.jpg' %}"/>
    <meta property="og:site_name" content="One Rep Max Calculator">
    <meta property="og:description" content="Calculate your one rep max using computer vision, science, and techmology.">


    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

<body class="home">

    <!-- Header
    ================================================== -->
    <header>
        <div class="container">
            <div class="logo">
				<a href="#"><img src="{% static 'img/one_rep_max_logo.png' %}" alt="One Rep Max Calculator"></a>
            </div>
            <div class="right">
                <nav class="main-nav">
                    <ul class="nav-bar" id="nav-bar">
                        <li class="has-flyout" id="facebook-picture">
<div id="profile-picture" class="profile-circular"></div>
                        </li>
                        <li class="has-flyout" id="account-link">
                            <a href="#!account">
                                Account <i class="icon-cog-2"></i>
                            </a>
                        </li>
                        <li class="has-flyout">
                            <a href="#!contact">Contact <i class="icon-envelop"></i></a>
                        </li>
                        <li class="has-flyout">
                            <a href="#!">About</a>
                            <ul class="flyout" style="left: -26px; display: none;">
                                <li><a href="#!about">How you can benefit from using the calculator</a></li>
                                <li><a href="#!how">How the calculator works</a></li>
                                <li><a href="#!tips">Tips for getting an accurate one rep max</a></li>
                            </ul>
                        </li>
                    </ul><select class="selectnav" id="selectnav1"><option value="">- Navigation -</option><option value="undefined"></option><option value="http://www.onerepmaxcalculator.com/#!account">
                                Account
                            </option><option value="http://www.onerepmaxcalculator.com/#!contact">Contact </option><option value="http://www.onerepmaxcalculator.com/#!">About</option><option value="http://www.onerepmaxcalculator.com/#!about">→ How you can benefit from using the calculator</option><option value="http://www.onerepmaxcalculator.com/#!how">→ How the calculator works</option><option value="http://www.onerepmaxcalculator.com/#!tips" selected="">→ Tips for getting an accurate one rep max</option></select>
                </nav>
            </div>
        </div>
        <div class="clearfix"></div>
    </header>

    <!-- Body
    ================================================== -->
    <div class="flexslider" style="margin-bottom: 10px;">
        <ul class="slides">
            <li>
				<img src="{% static 'img/grip.jpg' %}" alt="Bench Press">
                <div style="left: 100px;" class="flex-caption">
                    Estimate a One-Rep-Max Using Computer Vision
                </div>
                <div style="left: 100px;" class="flex-caption-second">
                    Your one rep max can accurately be computed with just a video.  If the bar can be tracked, then pixels can be converted to meters, and velocity can be determined.  If velocity is known, the a percent of your one rep max can be established.
                </div>
            </li>
            <!-- add stuff if you want
            <li>
                <img src="https://one-rep-max-static.s3.amazonaws.com/img/ph-slide.jpg?Signature=noWKOQ%2BNZz2AzurB80S6u8TfnlA%3D&Expires=1416170588&AWSAccessKeyId=AKIAJD3VBP77KIYMCHNA" alt="">
                <div class="flex-caption">
                    Show off your creativity
                </div>
                <div class="flex-caption-second">
                    Pellentesque arcu neque, convallis aliquet venenatis a, auctor sit amet lacus. Donec ultrices rutrum sem sed facilisis. Curabitur vitae viverra leo. Nullam pulvinar dictum nibh eu mollis. Quisque aliquam felis ac risus imperdiet viverra bibendum nunc accumsan.
                </div>
            </li>
            -->
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="wrap">
        <div class="container">
<!-- SBL START -->
            <div class="six columns bottom">
                    <div id="toggle" class="bottom">
                        <div class="toggle">
                            <h5>How does it work?</h5>
                            <div class="content">
                                <p>
                                    <!-- TODO change the style to have a disc, make the font size smaller -->
                                    </p><ul style="font-size: 14px; list-style-type: disc;">
                                        <li>Upload a stable, head-on video of a proper benchpress</li>
                                        <li>Your video will spend some time being processed, and you'll be notified via e-mail once complete</li>
                                        <li>The output video will display a scalar multiplier with each rep that represents how much weight you're capable of lifting</li>
                                    </ul>
                                <p></p>
                            </div>
                        </div>
                        <div class="toggle">
                        <h5>Why does it work?</h5>
                            <div class="content">
                                <p>
                                    </p><ul style="font-size: 14px; list-style-type: disc;">
                                        <li>The barbell in the uploaded video is tracked using computer vision</li>
                                        <li>Olympic barbells have standard dimensions, so the relative height of your repetition can be extracted</li>
                                        <li>The average velocity of a repetition can be calculating by using the above height and the time it took for the rep to complete</li>
                                        <li>Average velocity is strongly correlated to a percent of a one rep maximum</li>
                                    </ul>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="ten columns bottom">
                <div id="button-fill-area">
<div class="copy">
    <h1>The Algorithm behind the One Rep Max Calculator</h1>
<p>
The computations behind the application here are extremely in-depth, but here's the up-front and concise explanation behind it:
    </p><ul>
        <li>An uploaded video is analyzed frame by frame to detect an olympic barbell in the image. This in itself can be a fairly intense process, and over time with enough detections we might be able to apply additional machine learning techniques to greatly enhance the algorithm and make it faster.</li>
        <li>Finding the barbell in each frames gives us two things:
            <ul>
                <li>Since a standard olympic barbell 2.2 meters, we can convert pixels in the rest of the image to meters because of the known size of the bar.  This means that it's possible to determine the distance traveled in every single repetition.</li>
                <li>A tracked barbell will also give us the height of the bar at every frame in the image.  From there it's trivial to determine the starting and stopping points of every repetition based on position differentials.</li>
            </ul>
        </li>
        <li>After individual repetitions are identified, we can obtain the bar's velocity by combining the known distance in meters with the time it took to complete the repetition using the video's frame rate.
        </li>
        <li>Velocity correlates strongly to one rep max repetitions.  Various research papers can be found on that particular subject.</li>
    </ul>
<p></p>
<h2>Why was velocity used to obtain a one rep max?</h2>
<p>
If you're into physics, velocity doesn't seem like the intuitive choice to calculate a max.  It's possible for velocity to remain constant even with no force applied.  It would seem more intuitive to measure acceleration and obtain force applied and output a one rep max from there.  However, trial and error proved that this method doesn't work for a few different reasons:
</p><ul>
    <li>During the performance of any repetition with a weight, the instance acceleration at a given point may be drastically higher than what you're capable of in the rest of the rep.  For example, a person pressing 315 lbs may very well apply nearly 400 lbs of force during one portion of the lift.</li>
    <li>Acceleration doesn't account for sticking points in the lift, which most certainly exist for anyone with bench pressing.</li>
    <li>You are stronger directly after the eccentric portion of the lift.  You will not be as strong during the rest of the lift.</li>
    <li>In any compound exercise, more than one muscle group is used to complete the lift.  So in a bench press, you certainly use your chest, but you also use your lats, shoulders, triceps, and forearms.  When you go through the motions of the lift, you transition from one muscle group to the other.</li>
<li>Instantaneous acceleration won't account for proper form used during the lift.</li>
    <li>If you look at a graph of the lift as it's performed, you'll see that the plotted points don't match closely to a quadratic equation at all (it's easy to see that acceleration is not constant throughout the lift).  Typically, there's a huge burst of acceleration at the beginning of the lift followed by steady motion through the rest of it. See an example chart of position over time of a bench press set:</li>
    <img src="{% static 'img/bench_press_set.png' %}" alt="Bench Press Set">
</ul>
<p></p>
<p>
The case against acceleration is obvious, but the case for velocity is a lot less obvious.  Simply put, I found that a lot of research has already been done on this subject, and using velocity turned out to be the standard way to measure and estimate a one rep max, so we weren't going to try and recreate the wheel.  The difference between the research papers and this application, however, is that expensive sensors were used that weren't very commonplace.  This application attempts to use the same variables as the researchers, but computer vision is used instead.
</p>

</div>
<a id="close-button" style="margin-top: 5px; font-size: 18px;" href="#" class="button large alt cancel">Go Back</a></div>
            </div>
<!-- SBL END-->
            <div class="clearfix"></div>

            <div class="sixteen columns">
                <h3 class="title">Sample Videos</h3>
            </div>
            <div class="clearfix"></div>
            <div style="position: relative; overflow: hidden; height: 232px;" class="portfolio isotope">


                <div style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);" class="four columns isotope-item">
                    <a href="#!youtube/7EUZblF_ObA">
                    </a><div class="item"><a href="#!youtube/7EUZblF_ObA">
                        <div class="image-container">
                            <div class="mask"></div>
<img src="https://i.ytimg.com/vi/7EUZblF_ObA/mqdefault.jpg" alt="724 pount one rep max bench press estimation">
                        </div>
</a><a href="#!youtube/7EUZblF_ObA" class="zoom box" title="724 lb estimation"><i class="icon-film"></i></a>
<div class="item-title"><a href="#!youtube/7EUZblF_ObA">724 lb Estimation</a></div>
                    </div>

                </div>

                <div style="position: absolute; left: 0px; top: 0px; transform: translate(300px, 0px);" class="four columns isotope-item">
                    <a href="#!youtube/eLYxnhlPFtc">
                    </a><div class="item"><a href="#!youtube/eLYxnhlPFtc">
                        <div class="image-container">
                            <div class="mask"></div>
<img src="https://i.ytimg.com/vi/eLYxnhlPFtc/mqdefault.jpg" alt="297 pount one rep max bench press estimation">
                        </div>
</a><a href="#!youtube/eLYxnhlPFtc" class="zoom box" title="297 lb estimation"><i class="icon-film"></i></a>
<div class="item-title"><a href="#!youtube/eLYxnhlPFtc">297 lb Estimation</a></div>
                    </div>

                </div>

                <div style="position: absolute; left: 0px; top: 0px; transform: translate(600px, 0px);" class="four columns isotope-item">
                    <a href="#!youtube/z3P3mCPxRtw">
                    </a><div class="item"><a href="#!youtube/z3P3mCPxRtw">
                        <div class="image-container">
                            <div class="mask"></div>
<img src="https://i.ytimg.com/vi/z3P3mCPxRtw/mqdefault.jpg" alt="445 pount one rep max bench press estimation">
                        </div>
</a><a href="#!youtube/z3P3mCPxRtw" class="zoom box" title="445 lb estimation"><i class="icon-film"></i></a>
<div class="item-title"><a href="#!youtube/z3P3mCPxRtw">445 lb Estimation</a></div>
                    </div>

                </div>

                <div style="position: absolute; left: 0px; top: 0px; transform: translate(900px, 0px);" class="four columns isotope-item">
                    <a href="#!youtube/dyisn-r6tuE">
                    </a><div class="item"><a href="#!youtube/dyisn-r6tuE">
                        <div class="image-container">
                            <div class="mask"></div>
<img src="https://i.ytimg.com/vi/dyisn-r6tuE/mqdefault.jpg" alt="661 pount one rep max bench press estimation">
                        </div>
</a><a href="#!youtube/dyisn-r6tuE" class="zoom box" title="661 lb estimation"><i class="icon-film"></i></a>
<div class="item-title"><a href="#!youtube/dyisn-r6tuE">661 lb Estimation</a></div>
                    </div>

                </div>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Footer
    ================================================== -->
    <footer>
        <div class="social">
            <ul>
                <li><a href="#" class="icon-facebook"></a></li>
                <li><a href="#" class="icon-twitter"></a></li>
            </ul>
        </div>
        <div class="copy">
            Copyright © 2014
        </div>
        <div class="clearfix"></div>
    </footer>
    <input id="stripe-publish-key" value="pk_test_4VYAlh6AKX6wLlnMb9HpTKzG" type="hidden">

    <!-- Javascript/jQuery
    ================================================== -->



<!-- End Document
================================================== -->

</body>
