{% load staticfiles %}
<html>
    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>One Rep Max Calculator | Calculate an exact 1RM using computer vision</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="fragment" content="!">
    <meta name="description" content="Your one rep max can accurately be computed with just a video using computer vision.  Upload a video to get started.">

    <meta property="og:title" content="One Rep Max Calculator">
    <meta property="og:image" content="{% static 'img/summary.jpg' %}"/>
    <meta property="og:site_name" content="One Rep Max Calculator">
    <meta property="og:description" content="Calculate your one rep max using computer vision, science, and techmology.">


    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

<body class="home">
    <!-- Header
    ================================================== -->
    <header>
        <div class="container">
            <div class="logo">
				<a href="#"><img src="{% static 'img/one_rep_max_logo.png' %}" alt="One Rep Max Calculator"></a>
            </div>
            <div class="right">
                <nav class="main-nav">
                    <ul class="nav-bar" id="nav-bar">
                        <li class="has-flyout" id="facebook-picture">
<div id="profile-picture" class="profile-circular"></div>
                        </li>
                        <li class="has-flyout" id="account-link">
                            <a href="#!account">
                                Account <i class="icon-cog-2"></i>
                            </a>
                        </li>
                        <li class="has-flyout">
                            <a href="#!contact">Contact <i class="icon-envelop"></i></a>
                        </li>
                        <li class="has-flyout">
                            <a href="#!">About</a>
                            <ul class="flyout" style="left: -26px; display: none;">
                                <li><a href="#!about">How you can benefit from using the calculator</a></li>
                                <li><a href="#!how">How the calculator works</a></li>
                                <li><a href="#!tips">Tips for getting an accurate one rep max</a></li>
                            </ul>
                        </li>
                    </ul><select class="selectnav" id="selectnav1"><option value="">- Navigation -</option><option value="undefined"></option><option value="http://www.onerepmaxcalculator.com/#!account">
                                Account
                            </option><option value="http://www.onerepmaxcalculator.com/#!contact">Contact </option><option value="http://www.onerepmaxcalculator.com/#!">About</option><option value="http://www.onerepmaxcalculator.com/#!about">→ How you can benefit from using the calculator</option><option value="http://www.onerepmaxcalculator.com/#!how">→ How the calculator works</option><option value="http://www.onerepmaxcalculator.com/#!tips" selected="">→ Tips for getting an accurate one rep max</option></select>
                </nav>
            </div>
        </div>
        <div class="clearfix"></div>
    </header>

    <!-- Body
    ================================================== -->
    <div class="flexslider" style="margin-bottom: 10px;">
        <ul class="slides">
            <li>
				<img src="{% static 'img/grip.jpg' %}" alt="Bench Press">
                <div style="left: 100px;" class="flex-caption">
                    Estimate a One-Rep-Max Using Computer Vision
                </div>
                <div style="left: 100px;" class="flex-caption-second">
                    Your one rep max can accurately be computed with just a video.  If the bar can be tracked, then pixels can be converted to meters, and velocity can be determined.  If velocity is known, the a percent of your one rep max can be established.
                </div>
            </li>
            <!-- add stuff if you want
            <li>
                <img src="https://one-rep-max-static.s3.amazonaws.com/img/ph-slide.jpg?Signature=noWKOQ%2BNZz2AzurB80S6u8TfnlA%3D&Expires=1416170588&AWSAccessKeyId=AKIAJD3VBP77KIYMCHNA" alt="">
                <div class="flex-caption">
                    Show off your creativity
                </div>
                <div class="flex-caption-second">
                    Pellentesque arcu neque, convallis aliquet venenatis a, auctor sit amet lacus. Donec ultrices rutrum sem sed facilisis. Curabitur vitae viverra leo. Nullam pulvinar dictum nibh eu mollis. Quisque aliquam felis ac risus imperdiet viverra bibendum nunc accumsan.
                </div>
            </li>
            -->
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="wrap">
        <div class="container">
<!-- SBL START -->
            <div class="six columns bottom">
                    <div id="toggle" class="bottom">
                        <div class="toggle">
                            <h5>How does it work?</h5>
                            <div class="content">
                                <p>
                                    <!-- TODO change the style to have a disc, make the font size smaller -->
                                    </p><ul style="font-size: 14px; list-style-type: disc;">
                                        <li>Upload a stable, head-on video of a proper benchpress</li>
                                        <li>Your video will spend some time being processed, and you'll be notified via e-mail once complete</li>
                                        <li>The output video will display a scalar multiplier with each rep that represents how much weight you're capable of lifting</li>
                                    </ul>
                                <p></p>
                            </div>
                        </div>
                        <div class="toggle">
                        <h5>Why does it work?</h5>
                            <div class="content">
                                <p>
                                    </p><ul style="font-size: 14px; list-style-type: disc;">
                                        <li>The barbell in the uploaded video is tracked using computer vision</li>
                                        <li>Olympic barbells have standard dimensions, so the relative height of your repetition can be extracted</li>
                                        <li>The average velocity of a repetition can be calculating by using the above height and the time it took for the rep to complete</li>
                                        <li>Average velocity is strongly correlated to a percent of a one rep maximum</li>
                                    </ul>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="ten columns bottom">
                <div id="button-fill-area">
<div class="copy">
<h1>Calculating Your One Rep Max Accurately</h1>
<p>
You may greet this application with immediate skepticism, but the reality is that the algorithm behind the one rep max estimations is extremely sophisticated and works well.  However, it's a tool to augment your training and not the end-all be-all of training calculators, and it requires that you as the user provide clean inputs.
</p>

<p>
You can check out <a href="#!how">exactly how the calculator estimates your max</a>, but here's all that you really need to know:
</p><ul>
    <li>Use a weight that's heavy enough to be challenging but light enough to lift without needing a spotter.</li>
    <li>Even though the weight should be relatively light, <strong>treat the weight as though it is heavy and lift as hard as possible</strong>.  A one rep max is being estimated, and if you treat the weight like a warm-up, you'll get calculations accordingly.</li>
    <li>The video needs to be <strong>stable</strong>.  A shaky video will result in inaccurate starting and ending points relative to one another.  This in essence changes the perceived distance the barbell traveled and will therefore give inaccurate readings for velocity which is what the algorithm is based off of (see <a href="#!how">the explanation of the calculator</a> algorithm for why velocity is used).</li>
    <li>The video needs to be head on so that the barbell isn't angled in any way from the camera's perspective.</li>
    <li>Don't use so much weight that the bar bends.  I know that you do that from time to time.</li>
    <li>Only standard Olympic Barbells can be tracked.</li>
    <li>The entire barbell needs to fit in the screen throughout the entire lift.  Otherwise the algorithm will fail.  Sorry.</li>
    <li>The barbell should be at least half the width of the screen.  So don't film from 50 feet away or something crazy like that.</li>
    <li>It also can't hurt to film in a well-lit area.</li>
</ul>
<p></p>

<p>
Between fast-twitch and slow-twitch muscle fibers, a one rep max will rely more heavily on your fast-twitch muscles and your motor neurons.  Check out <a href="http://www.t-nation.com/training/why-bodybuilders-are-more-jacked-than-powerlifters">why bodybuilders are more jacked than power lifters</a> for more information on this idea.  This is why a calculator like this one that relies on a single rep is more effective than the typical one rep max calculators that use a standard regression to determine a one rep max based on the number of repetitions you can perform of a given weight.  The one you typically see is something like:
</p><ul>
<li>max = weight / (1.0278 - (0.0278 * reps))</li>
</ul>
<p></p>
<p>
It is also for this reason that it's preferable to select a weight that is heavy.  This should make it easier to use type II fast twitch muscle fibers to mimic a real one rep max as much as possible.  Additionally, a lighter weight will result in a much faster rep, leaving less room for observation from the system and more room for error.
</p>
<!-- talk about what sort of weight to use, fast twitch slow twitch muscles, etc -->
<!-- the assumptions this algorithm makes -->
</div>
<a id="close-button" style="margin-top: 5px; font-size: 18px;" href="#" class="button large alt cancel">Go Back</a></div>
            </div>
<!-- SBL END-->
            <div class="clearfix"></div>

            <div class="sixteen columns">
                <h3 class="title">Sample Videos</h3>
            </div>
            <div class="clearfix"></div>
            <div style="position: relative; overflow: hidden; height: 232px;" class="portfolio isotope">


                <div style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);" class="four columns isotope-item">
                    <a href="#!youtube/7EUZblF_ObA">
                    </a><div class="item"><a href="#!youtube/7EUZblF_ObA">
                        <div class="image-container">
                            <div class="mask"></div>
<img src="https://i.ytimg.com/vi/7EUZblF_ObA/mqdefault.jpg" alt="724 pount one rep max bench press estimation">
                        </div>
</a><a href="#!youtube/7EUZblF_ObA" class="zoom box" title="724 lb estimation"><i class="icon-film"></i></a>
<div class="item-title"><a href="#!youtube/7EUZblF_ObA">724 lb Estimation</a></div>
                    </div>

                </div>

                <div style="position: absolute; left: 0px; top: 0px; transform: translate(300px, 0px);" class="four columns isotope-item">
                    <a href="#!youtube/eLYxnhlPFtc">
                    </a><div class="item"><a href="#!youtube/eLYxnhlPFtc">
                        <div class="image-container">
                            <div class="mask"></div>
<img src="https://i.ytimg.com/vi/eLYxnhlPFtc/mqdefault.jpg" alt="297 pount one rep max bench press estimation">
                        </div>
</a><a href="#!youtube/eLYxnhlPFtc" class="zoom box" title="297 lb estimation"><i class="icon-film"></i></a>
<div class="item-title"><a href="#!youtube/eLYxnhlPFtc">297 lb Estimation</a></div>
                    </div>

                </div>

                <div style="position: absolute; left: 0px; top: 0px; transform: translate(600px, 0px);" class="four columns isotope-item">
                    <a href="#!youtube/z3P3mCPxRtw">
                    </a><div class="item"><a href="#!youtube/z3P3mCPxRtw">
                        <div class="image-container">
                            <div class="mask"></div>
<img src="https://i.ytimg.com/vi/z3P3mCPxRtw/mqdefault.jpg" alt="445 pount one rep max bench press estimation">
                        </div>
</a><a href="#!youtube/z3P3mCPxRtw" class="zoom box" title="445 lb estimation"><i class="icon-film"></i></a>
<div class="item-title"><a href="#!youtube/z3P3mCPxRtw">445 lb Estimation</a></div>
                    </div>

                </div>

                <div style="position: absolute; left: 0px; top: 0px; transform: translate(900px, 0px);" class="four columns isotope-item">
                    <a href="#!youtube/dyisn-r6tuE">
                    </a><div class="item"><a href="#!youtube/dyisn-r6tuE">
                        <div class="image-container">
                            <div class="mask"></div>
<img src="https://i.ytimg.com/vi/dyisn-r6tuE/mqdefault.jpg" alt="661 pount one rep max bench press estimation">
                        </div>
</a><a href="#!youtube/dyisn-r6tuE" class="zoom box" title="661 lb estimation"><i class="icon-film"></i></a>
<div class="item-title"><a href="#!youtube/dyisn-r6tuE">661 lb Estimation</a></div>
                    </div>

                </div>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Footer
    ================================================== -->
    <footer>
        <div class="social">
            <ul>
                <li><a href="#" class="icon-facebook"></a></li>
                <li><a href="#" class="icon-twitter"></a></li>
            </ul>
        </div>
        <div class="copy">
            Copyright © 2014
        </div>
        <div class="clearfix"></div>
    </footer>
    <input id="stripe-publish-key" value="pk_test_4VYAlh6AKX6wLlnMb9HpTKzG" type="hidden">

    <!-- Javascript/jQuery
    ================================================== -->



<!-- End Document
================================================== -->
</html>
