
{% load staticfiles %}
<script type="text/html" id="button_area_facebook">
    <div class="two columns bottom"></div>
    <div class="five columns buttom">
        <center><p style="font-size: 14px;">Get Started...</p></center>
        <!-- TODO take the onclick even out and move it to backbone -->
<img class="facebook-button" style="width: 100%;" src="{% static 'img/facebook_login.png' %}" alt="login with facebook">
    </div>
    <div class="three columns buttom"></div>
</script>

<script type="text/html" id="button_area_upload">
    <div class="two columns bottom"></div>
    <div class="five columns buttom">
        <a style="font-size: 18px;" href="#" class="button large alt">
        Upload a Video <i style="margin-left: 10px;" class="icon-film"></i></a>
    </div>
    <div class="three columns buttom"></div>
</script>
