
{% load staticfiles %}
<script type="text/html" id="button_area_facebook">
    <div class="two columns bottom"></div>
    <div class="five columns buttom">
        <center><p style="font-size: 14px;">Get Started...</p></center>
<img class="facebook-button" style="width: 100%;" src="{% static 'img/facebook_login.png' %}" alt="login with facebook">
    </div>
    <div class="three columns buttom"></div>
</script>

<script type="text/html" id="button_area_upload">
    <div class="two columns bottom"></div>
    <div class="five columns buttom">
<a id="upload-video-button" style="margin-top: 20px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
        Upload a Video <i style="margin-left: 10px;" class="icon-film"></i></a>
    </div>
    <div class="three columns buttom"></div>


</script>

<script type="text/html" id="upload_modal_view">
<div class="bootstrap">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background: #323232;" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
<a id="cancel-button" style="margin-top: 20px; font-size: 18px;" href="javascript:void(0);" class="button large alt cancel">
    Cancel
</a>
<a id="upload-video-button" style="margin-top: 20px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
        Upload a Video <i style="margin-left: 10px;" class="icon-film"></i></a>
        </div>
        </div>
    </div>
    </div>
</div>
</script>
