
{% load staticfiles %}
<script type="text/html" id="button_area_facebook">
    <div class="two columns bottom"></div>
    <div class="five columns buttom">
        <center><p style="font-size: 14px;">Get Started...</p></center>
<img class="facebook-button" style="width: 100%;" src="{% static 'img/facebook_login.png' %}" alt="login with facebook">
    </div>
    <div class="three columns buttom"></div>
</script>

<script type="text/html" id="button_area_upload">
    <div class="two columns bottom"></div>
    <div class="five columns buttom">
<a id="upload-video-button" style="margin-top: 20px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
        Upload a Video <i style="margin-left: 10px;" class="icon-film"></i></a>
    </div>
    <div class="three columns buttom"></div>


</script>

<script type="text/html" id="upload_modal_view">
<div class="bootstrap">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background: #323232;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload a Video</h4>
                </div>
                <div class="modal-body" style="max-height: 280px; overflow-y: scroll;">
                    <div class="row-fluid">
                        <div class="col-sm-6">
                            <p>Ensure that:</p>
                            <ul style="font-size: 14px;">
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Video is head on (barbell's angle in the image is 0)</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Video is stable</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Video is one continuous shot</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Don't use so much weight that the bar bends</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Use a weight where good form is maintained</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Standard Olympic Barbell</li>
        <li><i style="color: #0A0;" class="icon-checkmark"></i> Entire barbell should fit in the screen</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Barbell should be at least half the width of the screen</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <form action="." method="POST" enctype="multipart/form-data">
                                <input type="file" id="upfile" name="upfile" type="file" value="upload" style="visibility: hidden;" accept="video/*"/>
                                <p>
                                    <%= videoName %>
                                </p>
                                <a id="choose-file" style="font-size: 18px;" href="javascript:void(0);" class="button large alt <% if (videoUploaded) { %>cancel<% } %>">
                                    Choose File
                                </a>
                                <p id="uploading-text">
                                    Uploading...
                                </p>
                                <p id="error-area">
                                    <%= errorMessage %>
                                </p>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="cancel-button" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt cancel">
                        Cancel
                    </a>
                    <a id="upload-video-button-final" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
                        Upload
                    </a>
                    <img style="width: 30px; display: inline-block; position: relative; margin: 13px;" id="spinner" src="{% static 'img/spinner.gif' %}" />
                </div>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/html" id="thankyou_view">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Thank You!</h4>
    </div>
    <div class="modal-body" style="max-height: 280px; overflow-y: scroll;">
        <div class="row-fluid">
            <div class="col-sm-12">
Thanks for your order!  It will take a while to process your video, so in the mean time, go lift weights and crush things. You'll get an email when you video is ready.
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="close-button" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt cancel">
            Close
        </a>
    </div>
</script>

<script type="text/html" id="order_summary_view">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Order Summary</h4>
    </div>
    <div class="modal-body" style="max-height: 280px; overflow-y: scroll;">
        <div class="row-fluid">
            <div class="col-sm-6">
                <div class="col-sm-6">
                    <span style="padding-left: 10px;">
                        Start
                    </span>
                    <input id="start-time" value="0:00" style="min-width: 80%; width: 80%; background-color: #3A3A3A;" type=text />
                </div>
                <div class="col-sm-6">
<span style="padding-left: 10px;">
                        Stop
                    </span>
                    <input id="stop-time" value="<%= videoMinutes %>:<%= videoSeconds %>" style="min-width: 80%; width: 80%; background-color: #3A3A3A;" type=text />
                </div>
                <div class="col-sm-12" style="margin-top: 10px;">
                    Total cost: <span id="dollar-cost" style="color: #080;"> $<%= dollarCost %></span>
                    <br/><br/>
                    <span>
                        Email Address to send final video:
<input type="text" id="email-input" name="email" style="background-color: #3A3A3A;" value="<%= emailValue %>"/>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <p>
                    <% if (thumbnailUrl) { %>
                        <img src="<%= thumbnailUrl %>" />
                    <% } %>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="cancel-button" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt cancel">
            Cancel
        </a>
        <a id="finish-order" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
            Submit
        </a>
        <img style="width: 30px; display: inline-block; position: relative; margin: 13px;" id="spinner" src="{% static 'img/spinner.gif' %}" />
    </div>
</script>
